body {
    font-family: Arial;
    margin: 40px;
    background: #f5f5f5;
}

input, textarea, select {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    width: 300px;
}

button {
    padding: 10px;
    background: blue;
    color: white;
    border: none;
}

.report {
    background: white;
    padding: 10px;
    margin: 10px 0;
}